.left{
	width: 200px;
    float: left;
    height:357px;
}
.left a{
    color: black;
    font-size: 19px;
    margin-left: 55px;
    border-bottom: 1px solid #9ea1a9;
 }
 .left p{
    font-size: 20px;
    margin-left: 55px;
    color: #2b6784;
    margin-top: 25px;
    font-weight: 600;
 }
 .left li{
 	margin-top: 18px;
 }
 .right{
 	float: left;
    width: 790px;
 }
 
 .right h1{
 	border-bottom: 1px solid #BD1F26;
    color: #BD1F26;
    font-size: 25px;
    margin-top: 18px;
    margin-bottom: 23px;
 }
 .right p{
 	text-indent: 2em;
 	font-size: 16px;
 }
