<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" http-equiv="Content-Type"/>
  <title>ERP实训中心</title>
  <link rel="stylesheet" th:href="@{/css/common1.css}" href="../../../static/css/common1.css">
  <link rel="stylesheet" href="../../../static/css/index.css" th:href="@{/css/index.css}">
  <link rel="stylesheet" href="../../../static/css/intro.css" th:href="@{/css/intro.css}">
  <link rel="stylesheet" href="../../../static/css/calendar.css" th:href="@{/css/calendar.css}">
  <link rel="stylesheet" href="../../../static/css/swiper-3.4.2.min.css" th:href="@{/css/swiper-3.4.2.min.css}">
  <link rel="stylesheet" href="../../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
  <script src="../../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
  <script src="../../../static/js/jquery-2.0.0.min.js" th:src="@{/js/jquery-2.0.0.min.js}"></script>
  <script src="../../../static/js/calendar_core.js" th:src="@{/js/calendar_core.js}"></script>
  <script src="../../../static/js/swiper-3.4.2.jquery.min.js" th:src="@{/js/swiper-3.4.2.jquery.min.js}"></script>
</head>
<body>
<div class="web-container">
  <div class="header">
    <div class="header-top clearfix">
      <img src="../../../static/img/hfut_03.png" th:src="@{/img/hfut_03.png}">
      <h1>ERP实训中心</h1>
    </div>
    <div class="header-tab">
      <div id="tab-left clearfix">
        <ul>
          <li class="tab-box"><a href="/index">首页</a></li>
          <li class="tab-box"><a href="/index/intro">中心简介</a></li>
          <li class="tab-box"><a href="/index/rule">体制与管理</a></li>
          <li class="tab-box"><a href="/index/teach">实训教学</a></li>
          <li class="tab-box"><a href="/index/team">实训队伍</a></li>
          <li class="tab-box"><a href="/index/device">设备与环境</a></li>

          <li class="tab-box tab-right">
            <a href="/view/login" target="_blank">登录</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <div class="main clearfix">
    <div class="left">
      <ul>

        <p>体制与管理</p>

        <li>
          <a href="/index/rule">管理体制</a>
        </li>
        <li>
          <a href="/index/rule/plat">信息平台</a>
        </li>
        <li>
          <a href="/index/rule/run">运行机制</a>
        </li>
      </ul>
    </div>
    <div class="right">
      <h1>运行机制</h1>
      <div class="intro">
        <p>
          实验实训中心现面向本院各专业学生开放。除培养计划要求的计划内实验项目外，
          第 2 周至第 18 周，实行预约式开放。根据学生报名情况及要求进行的实验项目，实验
          中心提前安排实验技术人员承担实验准备、实验组织、实验指导、实验项目管理、批阅
          实验报告等项工作。
        </p>
        <p>
          实验教学中心建立有一整套完善的管理制度，有力地保证了正常的实验教学秩序和
          良好的实验教学效果。这些制度包括：本科实验教学工作条例、实验室开放管理规定、
          实验教学中心工作条例等。实验教学评价采用学生评教、老教师督导和专家组综合评价
          种方法综合考核实验教学中心教师的教学效果。
        </p>
        <p>
          中心建立了学校、学院和中心三级实验教学质量保证体系，保证实验教学的效果和质量。
        </p>
      </div>

    </div>
  </div>
  <div class="footer">
    <span>合肥工业大学</span>
  </div>
</div>
<script type="text/javascript" src="js/calendar_core.js"></script>
<script type="text/javascript" src="js/swiper-3.4.2.jquery.min.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        autoplay: 3000,
        loop: true,

        // 如果需要分页器
        pagination: '.swiper-pagination',
    })
</script>
</body>
</html>