<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" http-equiv="Content-Type"/>
  <title>ERP实训中心</title>
  <link rel="stylesheet" th:href="@{/css/common1.css}" href="../../../static/css/common1.css">
  <link rel="stylesheet" href="../../../static/css/index.css" th:href="@{/css/index.css}">
  <link rel="stylesheet" href="../../../static/css/intro.css" th:href="@{/css/intro.css}">
  <link rel="stylesheet" href="../../../static/css/calendar.css" th:href="@{/css/calendar.css}">
  <link rel="stylesheet" href="../../../static/css/swiper-3.4.2.min.css" th:href="@{/css/swiper-3.4.2.min.css}">
  <link rel="stylesheet" href="../../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
  <script src="../../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
  <script src="../../../static/js/jquery-2.0.0.min.js" th:src="@{/js/jquery-2.0.0.min.js}"></script>
  <script src="../../../static/js/calendar_core.js" th:src="@{/js/calendar_core.js}"></script>
  <script src="../../../static/js/swiper-3.4.2.jquery.min.js" th:src="@{/js/swiper-3.4.2.jquery.min.js}"></script>
</head>
<body>
<div class="web-container">
  <div class="header">
    <div class="header-top clearfix">
      <img src="../../../static/img/hfut_03.png" th:src="@{/img/hfut_03.png}">
      <h1>ERP实训中心</h1>
    </div>
    <div class="header-tab">
      <div id="tab-left clearfix">
        <ul>
          <li class="tab-box"><a href="/index">首页</a></li>
          <li class="tab-box"><a href="/index/intro">中心简介</a></li>
          <li class="tab-box"><a href="/index/rule">体制与管理</a></li>
          <li class="tab-box"><a href="/index/teach">实训教学</a></li>
          <li class="tab-box"><a href="/index/team">实训队伍</a></li>
          <li class="tab-box"><a href="/index/device">设备与环境</a></li>
          <li class="tab-box tab-right">
            <a href="/view/login" target="_blank">登录</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="main clearfix">
    <div class="left">
      <ul>
        <p>实训教学</p>
        <li>
          <a href="/index/teach">教学理念</a>
        </li>
        <li>
          <a href="/index/teach/sys">教学体系</a>
        </li>
        <li>
          <a href="/index/teach/way">教学方法</a>
        </li>
        <li>
          <a href="/index/teach/book">相关教材</a>
        </li>
      </ul>
    </div>
    <div class="right">
      <h1>教学方法</h1>
      <div class="intro">
        <p>
          以学生为主体，从能动式、开放式和研究型三方面探讨实训实验教学方法的改革。
          ①能动式实践教学法改革。以发挥学生的主观能动性为目标，设计以学生为中心和主
          体的实验模式，增加学生的感性认识；利用实验室的各种仿真软件，高仿真地模拟企
          业的生产经营活动和资金运动情况，激发学生的学习兴趣，使之主动参与到综合创新
          实践活动中。②开放式实践教学法改革。打破以教师为中心、以学科教材为背景的封
          闭实验室系统，不拘于课时安排，根据不同学生的发展水平和能力需求，将综合创新
          实践平台面向全体学生和各专业开放。其次，让学生充分发挥想象空间，运用所学知
          识自行设计实验方案。③研究型实践教学法改革。将实践教学的内容与科学研究相结
          合，设计一系列科研训练方法，教会学生探求知识和创新知识的能力。
        </p>
        <p>
          在考核方面，建立多维度的 ERP 实践教学综合创新评价体系。在物理沙盘演练和
          经营模拟对抗环节，以学生的知识、能力和素质协调发展为基本评价内容，结合综合
          创新实践教学大纲、教学质量评价标准等内容构建综合实践教学评价体系。在 ERP 系
          统应用环节，主要考察学生对 ERP 系统的掌握程度，根据不同专业的学科特点，构建个性化的综合创新教学评价体系。
        </p>
      </div>

    </div>
  </div>
  <div class="footer">
    <span>合肥工业大学</span>
  </div>
</div>
</body>
</html>